body {
    background-color: white;
    font-style: times; 
    font-style: italic;
    font-size: 24px; 

.page {
    display: none;
}

#halaman1 {
    display: block;
}

}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

